{
    "server":["0.0.0.0"],
    "mode":"tcp_only",
    "server_port":8388,
    "local_port":1080,
    "password":"<replace with strong password>",
    "timeout":86400,
    "method":"chacha20-ietf-poly1305"
}
